BOT_TOKEN=
SUPPORT_BOT_TOKEN=
BASE_URL=
OWNER_USERNAMES=
ADMIN_USERNAMES=
PORT=10000
STORAGE_MODE=supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=sn-shop
TRIPSHOP_CHANNEL_ID=
LIMBPL_CHANNEL_ID=
TRIPTOYS_CHANNEL_ID=
TRIPCHINASHOP_CHANNEL_ID=
